{% extends "base.html" %}

{% block title %} {{ super() }} - {{ channel }}{% endblock %}

{% block search_form %}
<form class="channel-search-form" role="search">
    <div class="input-group">
        <input class="form-control" id="text-search" name="name" placeholder="History search" type="text" value="">
        <div class="input-group-btn">
            <button class="btn btn-default disabled"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
</form>
{% endblock search_form %}

{% block navbar_extended %}
    <li>
        <form>
        <a role="button" class="btn btn-warning btn-sm navbar-btn" id="bot-btn">Bot</a>
        </form>
    </li>
{% endblock navbar_extended %}

{% block content %}
    <div class="row">
        <div class="chat-wrapper" id="chat" data-channelid="{{ channel.id }}">
            <h2>{{ channel }}</h2>
            <div id="chat-messages" class="chat-messages well">
                {% for message in messages %}
                    <div class="message">
                        <address>
                            {% if message.user == user %}me
                            {% else %}{{ message.user }}
                            {% endif %}
                        </address>
                        <span id="message-text">{{ message.text }}</span>
                    </div>
                {% endfor %}
            </div>
            <form name="chat-form form-inline" id="chat-form" action="." method="get">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    <input class="input-large" type="text" name="text" id="new-message" placeholder="Enter your message here..." autocomplete="off">
                    <button class="btn btn-primary" type="submit" id="send-msg-btn">Send</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/highlight.js') }}"></script>
<script src="/static/js/chat.js"></script>
{% endblock %}


